<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Информация о продукте</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <h2>Информация о продукте</h2>
    <h3 th:text="${'Id: '+ product.id}"></h3>
    <h3 th:text="${'Назввание: '+ product.title}"></h3>
    <h3 th:text="${'Цена: '+ product.cost}"></h3>

    <form method="post" th:action="@{'/increase_cost/' + ${product.id}}">
        <button type="submit" class="btn btn-primary">+ 1</button>
    </form>
    <form method="post" th:action="@{'/decrease_cost/' + ${product.id}}">
        <button type="submit" class="btn btn-primary">- 1</button>
    </form>
    </p>
    <a th:href="@{'/show_all'}" type="button" class="btn btn-primary">Список всех продуктов</a>
</div>
</body>
</html>